---
import Layout from '../layout/Layout.astro'
---

<Layout>
  <h1>Pixel Cipher</h1>
  <p>Upload a file to be converted to pixels</p>

  <button
    class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect'
  >
    <i class='material-icons'>upload</i>
    Button
  </button>
</Layout>
