---

---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />

		<link
			rel='stylesheet'
			href='https://fonts.googleapis.com/icon?family=Material+Icons'
		/>
		<link
			rel='stylesheet'
			href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css'
		/>
		<script defer src='https://code.getmdl.io/1.3.0/material.min.js'
		></script>

		<title>Pixipher | Pixel Cipher web</title>
	</head>
	<body class='container mx-auto my-auto'>
		<h1>Pixel Cipher</h1>
		<p>Upload a file to be converted to pixels</p>

		<button
			class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect'
		>
			<i class="material-icons">upload</i>
			Button
		</button>
	</body>
</html>
